<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3">
  <mat-checkbox
    [checked]="selectAllChecked"
    (change)="toggleSelectAll($event)"
    color="primary"
  >
    Select All
  </mat-checkbox>

  <div formArrayName="checkList" class="mt-3">
    <div
      *ngFor="let group of checkListFormArray.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-checkbox formControlName="checked" color="accent">
        {{ group.value.text }}
      </mat-checkbox>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit" class="mt-4">
    Submit
  </button>
</form>
