<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-success text-white">
          <th>Sr</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Phone</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userArray; let srNo = index">
          <td>{{ srNo + 1 }}</td>
          <td>
            @if (user.isEditing) {
            <input type="text" [(ngModel)]="user.name" class="form-control" />
            <div class="text-danger" *ngIf="validateField(user.name)">
              Required
            </div>
            } @else {
            {{ user.name }}
            }
          </td>
          <td>
            @if (user.isEditing) {
            <input
              type="text"
              [(ngModel)]="user.username"
              class="form-control"
            />
            <div class="text-danger" *ngIf="validateField(user.username)">
              Required
            </div>
            } @else {
            {{ user.username }}
            }
          </td>
          <td>
            @if (user.isEditing) {
            <input type="text" [(ngModel)]="user.phone" class="form-control" />
            <div class="text-danger" *ngIf="validateField(user.phone)">
              Required
            </div>
            } @else {
            {{ user.phone }}
            }
          </td>
          <td>
            @if (user.isEditing) {
            <input
              type="text"
              [(ngModel)]="user.website"
              class="form-control"
            />
            <div class="text-danger" *ngIf="validateField(user.website)">
              Required
            </div>
            } @else {
            {{ user.website }}
            }
          </td>
          <td>
            <div *ngIf="!user.isEditing">
              <i
                class="fa fa-pencil-square-o px-1"
                aria-hidden="true"
                (click)="onEdit(user)"
              ></i>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div *ngIf="user.isEditing">
              <button
                class="btn btn-success me-2"
                [disabled]="validateForm(user)"
              >
                Update
              </button>
              <button class="btn btn-danger" (click)="onCancel(user)">
                Cancel
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
